#cart {
    padding: 40px;
}

.checkout {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total, .summary {
    text-align: right;
}

.total {
    border-top: 1px solid white;
    padding-top: 16px;
    margin: 16px 0 16px 0;
}

.checkout-button {
    height: 60px;
    width: 160px;
}

.usd {
    color: rgb(200, 200, 200);
    font-size: 1.4rem;
    margin-right: 12px;
}

.price-line {
    display: flex;
    align-items: center;
}