#products {
    text-align: center;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 50px;
}

#deleteProductButton {
    background-color: red;
}