.back-to-products {
    padding: 40px 0 0 50px;
}

.single-product-body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px 40px 40px 40px;
}

.single-product-image-container, .single-product-description {
    padding: 20px;
}

.single-product-image-container img {
    width: 380px;
}

#single-product .description {
    font-style: italic;
}

#single-product h3 {
    margin-bottom: 24px;
}

#single-product fieldset {
    border: none;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
}

.action-container {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.action-buttons button {
    margin-top: 6px;
    height: 50px;
}

#single-product fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-right: 24px;
}

#single-product .quantity-input {
    height: 40px;
    width: 80px;
    outline: none;
    font-size: 1.6rem;
    padding: 0 5px 0 10px;
    border-radius: 8px;
}

.resp-message {
    padding: 24px 0 24px 0;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(200, 200, 200);
}

.reviews {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

.reviews-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    margin-top: 12px;
}

.add-review {
    width: 200px;
}

/* EDITOR */
.editProduct-Container {
    position: fixed;
    top: 10vh;
    bottom: 10vh;
    right: 10vw;
    left: 10vw;
    background-color: black;
    box-shadow: 1px 1px 5px gray;
    z-index: 200;
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editProduct-Container .product-editor-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* MUI OVERRIDES */

#single-product .MuiInputBase-root {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 8px;
}

#single-product .MuiInput-underline:before {
    border-bottom: 1px solid gray;
}

#single-product .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 2px solid gray;
}

@media screen and (max-width: 768px) {

    .single-product-body{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .single-product-image-container img {
        width: 60vw;
    }
}