#single-product {
    display: grid;
    grid-template-columns: 1fr 2fr;

    padding: 40px;
}

.single-product-image-container, .single-product-description {
    padding: 20px;
}

.single-product-image-container img {
    width: 380px;
}

#single-product .description {
    font-style: italic;
}

#single-product h3 {
    margin-bottom: 24px;
}

.action-container {
    display: flex;
}

#single-product fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin-right: 24px;
}

#single-product .quantity-input {
    height: 40px;
    width: 80px;
    outline: none;
    font-size: 1.6rem;
    padding: 0 5px 0 10px;
    border-radius: 8px;
}

.resp-message {
    padding: 24px 0 24px 0;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(200, 200, 200);
}

.reviews {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

.reviews-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    margin-top: 12px;
}

.add-review {
    width: 200px;
}

@media screen and (max-width: 768px) {
    #single-product {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .single-product-image-container img {
        width: 80vw;
    }
}