/* Font */
/* Font-weight options: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');

/* Document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    color: white;
    background-color: black;
}

/* Base Styles */
h1 {
    font-weight: 400;
    font-size: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 2.2rem;
}

h3 {
    font-weight: 400;
    font-size: 1.6rem;
}

ul {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #3F88C5;
}

a:hover {
    color: #316C9C;
}

