/* Font */
/* Font-weight options: 400, 500, 700 */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');

/* Document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    color: white;
    background-color: black;
}

/* Base Styles */
h1 {
    font-weight: 400;
    font-size: 3rem;
}

h2 {
    font-weight: 400;
    font-size: 2.2rem;
}

h3 {
    font-weight: 400;
    font-size: 1.6rem;
}

ul {
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.page-header-image {
    background: url(/src/assets/shoppe-interior.jpg);
    background-size: cover;
    background-position: center;
}

.page-header {
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.2) 100%);    box-shadow: inset 0 0 5px black;
    margin-bottom: 20px;
}

.header-text {
    font-weight: 500;
    text-shadow: 0px 0px 5px black;
    /* text-shadow: 1px 1px 5px white; */
    /* color: #b5a264; */
    color: white;
    /* color: black; */
}